// 站點主色
// tips: 要達到整站主題修改效果, 請確保[$--color-primary]站點主色與[/src/element-ui-theme/index.js]文件中[import './element-[#17B3A3]/index.css']當前主題色一致
$--color-primary: #17B3A3;

// Navbar
$navbar--background-color: $--color-primary;

// Sidebar
$sidebar--background-color-dark: #263238;
$sidebar--color-text-dark: #8a979e;

// Content
$content--background-color: #f1f4f5;
